* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  background: #fff;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 1.0625rem;
  line-height: 2;
  font-weight: 400;
  color: #666666;
}
.top-row {
  padding: 0.525rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.875rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.5);
}

.top-row .top-call a,
.top-row .top-email a {
  color: inherit;
  text-decoration: none;
}

header {
  background: transparent;
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 1.5rem;
}

header.sticky {
  transition: all 0.4s ease;
  margin: 0;
  padding: 1rem;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #fff;
  color: #333;
}

header.sticky .navbar .logo,
header.sticky .navbar .main-nav li a {
  color: #333;
}
header.sticky .navbar .logo:hover,
header.sticky .navbar .main-nav li a:hover {
  color: #ffa500;
}

.main-nav {
  list-style-type: none;
  display: none;
  display: flex;
  margin-right: 30px;
  flex-direction: row;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
.nav-links {
  margin-left: 40px;
  font-weight: 800;
}
.main-nav li {
  text-align: center;
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-around;
  padding-bottom: 0;
  align-items: center;
}
.logo {
  display: inline-block;
  font-size: 1.25rem;
}
.logo:hover,
.nav-links:hover {
  color: rgba(255, 255, 255, 1);
}

.navbar-toggle {
  display: none;
}
.navbar a:hover {
  color: #ffa500;
}

.active {
  display: block;
}
.owl-carousel {
  position: relative;
}

.owl-dots {
  position: absolute;
  bottom: 10%;
  left: 25%;
  right: 25%;
  margin: 5px;
  border-radius: 50%;
}
.item {
  position: relative;
}
.item::after {
  -moz-box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.75);
}
.owl-carousel .item p.carousel-text {
  position: absolute;
  top: 50%;
  left: 15%;
  font-family: "Monoton", cursive;
  font-size: 3.5rem;
  color: #fff;
  text-align: center;
}
.owl-carousel .item p:nth-child(2) {
  position: absolute;
  top: 40%;
  left: 12%;
  font-family: "Monoton", cursive;
  font-size: 3.5rem;
  color: #fff;
  text-align: center;
}
section.about,
section.services,
section.menu {
  text-align: center;
}
.title {
  position: relative;
}
.about span.outer_title,
.services span.outer_title,
.menu span.outer_title {
  font-family: "Miss Fajardose", cursive;
  color: #ffa500;
}
.about h2.outer_title,
.services h2.outer_title,
.menu h2.outer_title {
  font-family: inherit;
  color: #333;
  line-height: 0;
  position: absolute;
  bottom: 30%;
  left: 35%;
}
.about .outer_title,
.services .outer_title,
.menu .outer_title {
  font-weight: 600;
  font-size: 3.125rem;
}
[class^="icon-"],
[class*="icon-"] {
  margin-right: 0.8rem;
}

.about .about-description {
  padding: 1rem 4rem;
}

.section-counter {
  background-image: url(../img/bg_4.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
  padding: 8rem;
  margin-top: 2rem;
}

.counter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.number {
  font-weight: 500;
  font-size: 2.5rem;
  color: #000;
  display: block;
  animation-duration: 1s;
  animation-delay: 0s;
}
.text span {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
}

.play-video {
  position: relative;
  margin-bottom: -4rem;
}

[class^="-play-circle"],
[class*="-play-circle"] {
  color: #ffa500;
  font-size: 4rem;
}

.row-services {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
}

.card-icon {
  position: relative;
  width: 130px;
  height: 130px;
  background: #000;
  margin: 0 auto;
  border-radius: 50%;
}

.card-icon object {
  position: absolute;
  top: 23%;
  right: 23%;
}

.card-title h2 {
  color: #333;
}

.menu {
  padding: 2rem;
}
.menu-table {
  display: flex;
  flex-direction: column;
}

.menu-food,
.menu-second-dish {
  display: inherit;
  flex-direction: row;
  justify-content: space-around;
}
.menu title {
  padding: 2rem;
}
.cards-title {
  font-weight: 900;
  color: #333;
  font-size: 1.3rem;
}

.menu-img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
}

.menu-card {
  display: flex;
  flex-direction: row;
  border: 1px solid #e6e6e6;
  padding: 30px 20px;
  margin: 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu-card:hover {
  background-color: orange;
  border: none;
}

.menu-card:hover .menu-main .price {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.menu-main {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  color: #333;
  font-weight: 600;
}
.price {
  border-bottom: 2px solid #ffa500;
}

.menu-text {
  display: inherit;
  flex-direction: column;
  text-align: left;
  color: #333;
}

#map {
  height: 100%;
}

.reservation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.reservation .makereservation .title,
.team .title {
  position: relative;
}

.reservation .makereservation .title .outer_title,
.team .title .outer_title {
  font-weight: 600;
  color: #333;
  font-size: 3.125rem;
}

.reservation .makereservation .title span.outer_title,
.team .title span.outer_title {
  font-family: "Miss Fajardose", cursive;
  color: #ffa500;
  position: absolute;
  bottom: 25%;
}

.reservation form {
  display: flex;
  flex-direction: column;
  color: #000;
  font-weight: 800;
}

.reservation form .input-group {
  display: inherit;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5rem;
}

.reservation form .input-group .form-group {
  display: inherit;
  flex-direction: column;
}

.reservation form .input-group .form-group input,
.reservation form .input-group:nth-child(3) input {
  height: 3.25rem;
  background: #fff;
  font-size: 1rem;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  overflow: visible;
  font-family: inherit;
  display: block;
}
.reservation form .input-group:nth-child(3) {
  align-self: flex-start;
}

.reservation form .input-group:nth-child(3) input {
  background-color: #ffa500;
  color: #fff;
}

.reservation form .input-group:nth-child(3) input:hover {
  color: #ffa500;
  background-color: #fff;
  outline: #ffa500;
  border: 1px solid #ffa500;
  cursor: pointer;
}

.team {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.team .chef-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.team .chef-card {
  padding-left: 1rem;
  padding-right: 1rem;
}

.team .chef-cards .chef-card .card-img {
  height: 320px;
  background-position: top center;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
}

.chef-card .card-desc {
  text-align: left;
  padding: 1rem 0;
}
.team .chef-cards .chef-card .card-desc .desc-title .desc-main {
  color: #333;
  font-weight: 600;
  font-size: 0.9rem;
}
.desc-main-position {
  color: rgba(0, 0, 0, 0.3);
  font-size: 0.8rem;
}

.desc-about {
  font-size: 1rem;
}

.team .card-social .social-list {
  display: flex;
  flex-direction: row;
}
.team .card-social .social-list li {
  list-style-type: none;
  padding: 0.4rem;
}

.team .card-social .social-list li a {
  color: #ffa500;
}

.testimonial {
  padding: 2rem;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0.8;
}

.testimonial .title {
  position: relative;
}
.testimonial .title span.outer_title {
  font-weight: 500;
  font-size: 6rem;
}

.testimonial span.outer_title {
  font-family: "Miss Fajardose", cursive;
  color: #ffa500;
}

.testimonial h2.outer_title {
  color: #333;
  font-size: 3rem;
  font-weight: 900;
  position: absolute;
  left: 36%;
  bottom: 8%;
}

.customer-img {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px;
}

[class^="-quote-left"],
[class*="-quote-left"] {
  color: #fff;
  font-size: 1.2rem;
  position: absolute;
  top: 130px;
  right: 20px;
}

[class^="-quote-left"],
[class*="-quote-left"]::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffa500;
  padding: 15px;
}

.feedback {
  display: flex;
  flex-direction: row;
}

.feedback-customer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.customer-text {
  color: #333;
  font-weight: 900;
}
